/*About us style*/
.about-us {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-content: center;
}
.about-us--headline-name{
    font-size: 1.5rem;
    text-align: center;
    color:$VariableColor 099d8d;
    font-family: $VariableFuente'Rubik', sans-serif;
}
/*Esta parte debe modificarse cuando concretemos todo el margen de la página*/ 
.banner_media-bar{ 
    /*Barra de redes sociales*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding-inline-start: 0;
    color: $VariableColor #099d8d;
    margin-top: -0.3rem;
    max-width: 124px;
}
.link-media-bar {
    /*Color de los enlaces de la barra de redes*/
    color: #099d8d;
    transition: 2s ease;
}
.link-media-bar :hover{
    color: #14d9c4;
}
.social-bar{/*Espaciado entre los items barra redes*/
    margin: 0.3rem;
}

.about-us--info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.4rem;
    justify-items: center;
}
.about-us--info--pic{
    width: 11.25rem;
    height: 11.25rem;
    border-radius: 90px;
    border: 0.19rem solid #b8b8b9;
    margin-top: 0.5rem;
}
.about-us--info--name{
    color: #14d9c4;
    text-align: justify;
}
.about-us--info--text{
    display: flex;
    text-align: justify;
    text-align: center;
    margin-top: -0.5rem;
}
.about-us--content{/*Tarjetas*/
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media all and (min-width:768px) {/*Responsive*/
    .about-us--info{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .about-us--info--text{
        text-align: left;
        line-height: 1.7rem; 
        width: 100%;
    }
    .banner_media-bar{
        align-self: flex-start;
        width: 100%;
    }
    .about-us--info--pic{
        max-width: 12.81rem;/*205px*/
        max-height: 12.81rem;
        border-radius: 125px;
        border: 0.19rem solid #b8b8b9;
        margin: 1rem;
        margin-right: 2rem;
        width: 100%;
        height: auto;
    }
    .about-us--info--name{
        align-self: flex-start;
        width: 100%;
    }
}

@media all and (min-width:1200px){
    .about-us--info--pic{
        max-width: 15.63rem;/*278px*/
        max-height: 15.63rem;
        border-radius: 195px;
        border: 0.19rem solid #b8b8b9;
        margin: 1rem;
        margin-right: 2rem;
        width: 100%;
        height: auto;
        transition: 2s ease;
    }
    .about-us--info--pic:hover{
        transform: translateY(-40px) scale(1.1);
    }
    .zigzag :nth-of-type(even) {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
      }
    .luz{
        text-align: right;
    }
    .pos_media-bar {
        align-self: flex-end;
    }
}