<footer class="footer">
    <p class="footer--copyright">&lt;A&gt;tlas &copy; 2019</p>
    <ul class="footer--nav">
        <li>
            <a href="index.html#team">Equipo</a>
        </li>
        <li>
            <a href="index.html#about-us">Quiénes somos</a>
        </li>
        <li>
            <a href="contact.html">Contacto</a>
        </li>
    </ul>
    <div class="footer--image">
        <a href="index.html#logo"></a>
        <img class="adalab-logo" src="../assets/images/logo-adalab-80px.png" alt="Gracias por visitar el sitio de Adalab">
    </div>
</footer>