<footer class="footer">
    <p class="footer--copyright">&lt;A&gt;tlas &copy; 2019</p>
    <ul class="footer--nav">
        <li>
            <a href="@@link_team">Equipo</a>
        </li>
        <li>
            <a href="@@link_about">Quiénes somos</a>
        </li>
        <li>
            <a href="@@link_contact">Contacto</a>
        </li>
    </ul>
    <div class="footer--image">
        <img class="adalab-logo" src="../assets/images/logo-adalab-80px.png" alt="Gracias por visitar el sitio de Adalab">
    </div>
</footer>