<header>
    <nav class="nav">
        <div class="nav--logo">
            <a href="#hero"><img src="assets/images/logo-atlas-mobile.png" class="logo-atlas-mobile"></a>
            <a href="#hero"><img src="assets/images/logo-atlas-desktop.png" class="logo-atlas-desktop"></a>
        </div>
        <div class="nav--index">
            <ul class="nav--index--list">
                <li class="nav--index--list--item">
                    <a href="#team">Equipo</a>
                </li>
                <li class="nav--index--list--item">
                    <a href="#about-us">Quienes somos</a>
                </li>
                <li class="nav--index--list--item">
                    <a href="contact.html">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

</header>