<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Rubik:400,500&display=swap" rel="stylesheet">
    <title>Atlas Contacto</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/contact.css">
</head>
<body>
  <header>
    <partial src="_header.html"></partial>
    <div  id="contact" class="hero-image-contact">
    </div>
  </header>

  <main class="main">
    <div class="contact">
      <h1 class="contact__title">Contacto</h1>
      <p class="contact__description">Para información más detallada, por favor, rellena el siguiente formulario.</p>
      <small>
        Todos los campos marcados con <span class="asterisk">*</span> son obligatorios.
      </small>
    </div>
    <form class="form" action=“https://formspree.io/saramarin.econ@gmail.com” method="post">
      <label class="labelform" for="fullname">
        Nombre completo<span class="asterisk"> *</span>
      </label>
      <input
        class="input"
        type="text"
        id="fullname"
        name="fullname"
        placeholder="Escribe tu nombre"
        required
      />
      <div class="form__wrap">
        <div class="form__wrap__mail">
          <label class="labelform" for="email">
            Email<span class="asterisk"> *</span>
          </label>
          <input
            class="input"
            type="email"
            id="email"
            name="email"
            placeholder="tu_mail@mail.com"
            required
          />
        </div>
        <div class="form__wrap__tel">
          <label class="labelform labeltel" for="telephone">
            Teléfono
          </label>
          <input
            class="input"
            type="tel"
            id="telephone"
            name="telephone"
            placeholder="999999999"
            pattern="^[9,6][0-9]{1,2}[0-9]{6}$"
          />
        </div>
      </div>
      <label class="text-label" for="text-input">
        Mensaje<span class="asterisk"> *</span>
      </label>
      <textarea name="text-input" class="text-input" id="text-input" rows="10" cols="30" placeholder="¿Qué necesitas?"></textarea>
      <input class="button" type="submit" value="Enviar"/>
    </form>
  </main>
  <partial src="_footer.html"></partial>
</body>
</html>