.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.nav .nav--logo {
  background: #099d8b;
  height: 60px;
  opacity: 0.95;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav .logo-atlas-mobile {
  height: 50px;
  width: auto;
}

.nav .logo-atlas-desktop {
  display: none;
}

.nav .nav--index--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #14d9c4;
  height: 45px;
  opacity: 0.9;
  font-family: "Rubik", sans-serif;
  margin: 0px;
  padding: 0px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav .nav--index--list--item {
  display: inline;
  letter-spacing: normal;
  text-transform: uppercase;
  line-height: 2;
}

.nav .nav--index--list--item a {
  color: white;
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
}

.footer {
  padding: 30px 0 45px 0;
  border-top: 1px solid #54585a;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.footer .footer--copyright {
  margin: 5px 0 15px 0;
  color: #b8b8b9;
  font-size: 0.9rem;
  margin: 0;
}

.footer .footer--nav {
  padding: 20px 0 30px 0;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  line-height: 1.5rem;
}

.footer .footer--nav a {
  -webkit-text-decoration-line: none;
  text-decoration-line: none;
  color: #54585a;
}

.footer .adalab-logo {
  width: 115.9px;
  height: 45px;
}

.contact--title {
  color: #099d8d;
  margin: 0px;
  text-transform: uppercase;
}

.contact--description {
  margin: 15px;
  text-align: center;
}

.contact--instructions {
  text-align: center;
}

.asterisk {
  color: #14d9c4;
}

.contact {
  padding: 30px 15px 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 30px 15px 30px 15px;
  margin: 0 auto;
}

.input {
  margin: 5px 0px 15px 0px;
  color: #b8b8b9;
  border: 1px solid #b8b8b9;
  border-radius: 5px;
}

textarea:focus,.input:focus,.button:focus {
  border: 1px solid #14d9c4;
  outline: 0;
}

.button {
  background-color: #099d8d;
  margin: 30px 0;
  height: 45px;
  color: #fff;
  border-radius: 5px;
  width: 100%;
}

#message {
  padding: 1rem;
  margin-top: 5px;
  color: #b8b8b9;
  height: 105px;
  border-radius: 5px;
}

.form .input {
  width: 100%;
  height: 45px;
  padding: 1rem;
}

input::-webkit-input-placeholder {
  color: #b8b8b9;
}

input::-moz-placeholder {
  color: #b8b8b9;
}

input:-ms-input-placeholder {
  color: #b8b8b9;
}

input::-ms-input-placeholder {
  color: #b8b8b9;
}

input::placeholder {
  color: #b8b8b9;
}

@media all and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background: #099d8b;
    opacity: 0.95;
    width: 100vw;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .nav .nav--logo {
    padding: 0px 0px 0px 15px;
    background: transparent;
  }

  .nav .logo-atlas-mobile {
    display: none;
  }

  .nav .logo-atlas-desktop {
    display: block;
    height: 45px;
    width: auto;
    padding: 15px 0px 15px 45px;
  }

  .nav .nav--index--list {
    background: transparent;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 300px;
    height: 30px;
    margin: 14px 45px 16px 0;
    padding: 0px;
    font-weight: lighter;
  }

  .footer {
    padding: 25px 45px 60px 45px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: start;
  }

  .footer .footer--copyright {
    margin: 5px 0 15px 0;
  }

  .footer .footer--nav {
    padding: 0;
    text-align: right;
    line-height: 1.5rem;
    grid-row: 1/3;
    grid-column: 2;
  }
}

@media all and (min-width: 1200px) {
  .main {
    max-width: 601px;
    margin: 0 auto;
  }

  .form {
    margin-bottom: 90px;
    padding: 0;
  }

  .form-mail-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .form-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 395px;
  }

  .form-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 162px;
  }
}

/*# sourceMappingURL=contact.css.map */
