.nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    z-index: 1;
    @media all and (min-width:768px) {
        display: flex;
        flex-direction: row;
        background: $principalColor;
        opacity: 0.95;
        width: 100vw;
        justify-content: space-between;
    }
    .nav--logo {
        background: $principalColor;
        height: 60px;
        opacity: 0.95;
        display: flex;
        justify-content: center;
        align-items: center;
        @media all and (min-width:768px) {
            padding: 0px 0px 0px 15px;
            background: transparent;
        }
    }
        .logo-atlas-mobile {
            height: 50px;
            width: auto;
            @media all and (min-width:768px) {
                display: none;
            }
        }
        .logo-atlas-desktop {
            display: none;
            @media all and (min-width:768px) {
                display: block;
                height: 45px;
                width: auto;
                padding: 15px 0px 15px 45px;
            }
        }  
    .nav--index--list {
        display: flex;
        background: $secondaryColor;
        height: 45px;
        opacity: 0.9;
        
        font-family: $titleFont;
        margin: 0px;
        padding: 0px;
        justify-content: space-around;
        align-items: center;
        @media all and (min-width:768px) {
            background: transparent;
            height: 60px; 
            display: flex;
            justify-content: space-between;
            width: 300px;
            height: 30px;
            margin: 14px 45px 16px 0;
            padding: 0px;
            font-weight: lighter;
        }
    }
        .nav--index--list--item {
            display: inline;
            letter-spacing: normal;
            text-transform: uppercase;
            line-height: 2;
        }
            .nav--index--list--item a {
                color: white;
                text-decoration-line: none;
            }
    
}