$principalColor: #099d8b;
$secondaryColor: #14d9c4;
$background: #fff;
$sections: #f1f1f1;
$textColor: #54585a;
$strWeaBackgroundColor: #b8b8b9;
$titleFont: 'Rubik', sans-serif;
$textFont: 'Open Sans', sans-serif;
$mobileMarginsX: 30px;
$tabletMarginsX: 45px;

